#textdomain wesnoth-Story_of_Wose

# wmllint: local spellings unphasing

[scenario]
    id="4_The_Catacombs"
    name=_"The Catacombs"
    next_scenario="5_Tunnel"
    map_file=Catacombs.map
    {MUSIC "underground.ogg"}

    {SOW_DEATHS}
    {UNDERGROUND}
    turns=26

    victory_when_enemies_defeated=no

    # wmllint: skip-side
    {PLAYER yes}

    [event]
        name=prestart
        [objectives]
            [objective]
                condition=win
                description=_"Explore the cave"
                [show_if]
                    [variable]
                        name=turn_number
                        less_than=19
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                condition=win
                description=_"Move to the east exit"
                [show_if]
                    [variable]
                        name=turn_number
                        greater_than_equal_to=19
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                condition=win
                caption=_"Alternative (but not recommended) objective:"
                description=_"Defeat Lich-Lord  Lenvan"
                [show_if]
                    [variable]
                        name=turn_number
                        greater_than_equal_to=19
                    [/variable]
                [/show_if]
            [/objective]
            [objective]
                condition=lose
                description = _"Death of Londerleona"
            [/objective]
            {TURNS_RUN_OUT}
        [/objectives]
        {PLACE_IMAGE (terrain/cave/floor.png) 6 18}
        {PLACE_IMAGE (terrain/cave/floor.png) 20 18}
        {PLACE_IMAGE (terrain/cave/floor.png) 10 2}
        {PLACE_IMAGE (terrain/cave/floor.png) 16 2}
        {PLACE_IMAGE (scenery/monolith3.png) 6 18}
        {PLACE_IMAGE (scenery/monolith3.png) 20 18}
        {PLACE_IMAGE (items/dragonstatue.png) 10 2}
        {PLACE_IMAGE (items/dragonstatue.png) 16 2}
    [/event]

    [event]
        name=start
        {RECALL_ROLE_XY W1 (Ancient Wose_alt,Elder Wose_alt,Wose_alt) 12 22}
        {RECALL_ROLE_XY W2 (Ancient Wose_alt,Elder Wose_alt,Wose_alt) 14 22}
        {RECALL_ROLE_XY W4 (Wose Shaman_alt,Wose Shaman,Wose_alt,Elder Wose_alt,Ancient Wose_alt) 13 21}
    [/event]

    [side]
        side=2
        type=Orcish Warlord
        canrecruit=yes
        recruit=Orcish Archer,Orcish Grunt,Goblin Spearman
        generate_name=yes
        {GOLD 120 120 130}
    [/side]

    [side]
        side=3
        gold=140
        type=Demilich
        id=Lich-Lord Lenvan
        name=_ "Lich-Lord Lenvan"
        canrecruit=yes
        recruit=Skeleton,Skeleton Archer,Ghoul
        # Out of the way
        [unit]
            type=Demilich
            id=Caror
            name=_ "Lich-Lord Caror"
            x=1
            y=11
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]
        [ai]
            grouping=none
        [/ai]
    [/side]

    [event]
        name=start
        [teleport]
            [filter]
                id=Lich-Lord Lenvan
            [/filter]
            x=1
            y=10
            check_passability=no
        [/teleport]
    [/event]

    [event]
        name=start
        [message]
            id=Lich-Lord Lenvan
            message= _ "All right, what happened here? This first portal was supposed to go two miles, not to the east continent."
        [/message]
        [message]
            id=Londerleona
            message= _ "That sounded like it came from the far end of the cave. We better hurry and find out what it is."
        [/message]
    [/event]
    [event]
        name=turn 2
        [message]
            id=Lich-Lord Lenvan
            message= _ "Caror you idiot! Who else have you been spying on this time?"
        [/message]
    [/event]
    [event]
        name=turn 3
        [message]
            id=Caror
            message= _ "Just some elves. Oh, and a crazy mage who is all upset about some trees. What does it matter?"
        [/message]
    [/event]
    [event]
        name=turn 4
        [message]
            id=Lich-Lord Lenvan
            message= _ "You infernal idiot. I warned you not to spy on me. This portal stuff is sensitive."
        [/message]
    [/event]
    [event]
        name=turn 5
        [message]
            id=Lich-Lord Lenvan
            message = _ "You've been spying on the orcs too, from what I hear in this portal. Now somebody's going to have to clean up after this mess."
        [/message]
    [/event]
    [event]
        name=turn 6
        [message]
            id=Caror
            message = _ "All right, I'll try to close it. Brace yourself."
        [/message]
    [/event]
    [event]
        name=turn 7
        {QUAKE "rumble.ogg"}
        {QUAKE "rumble.ogg"}
        [message]
            id=Londerleona
            message=_ "Look out, the water's rising!"
        [/message]
    [/event]
    [event]
        name=turn 8
        [terrain]
            x=5,6,7,8,9,17,18,19,20,21
            y=17,16,16,16,17,17,16,16,16,17
            terrain=Wo
        [/terrain]
        [redraw][/redraw]
        [message]
            id=Londerleona
            message=_ "The water rose, cutting off our escape!"
        [/message]
        [message]
            type=Poacher,Trapper
            message= _ "We're all gonna die."
        [/message]
        [message]
            id=Caror
            message= _ "That didn't work. Somebody will have to go inside and close it."
        [/message]
    [/event]
    [event]
        name=turn 9
        [message]
            id=Lich-Lord Lenvan
            message= _ "That's a good idea. In you go now, and close that portal."
        [/message]
    [/event]
    [event]
        name=turn 10
        [message]
            id=Caror
            message= _ "You made the portal, you close it. I won't!"
        [/message]
        # A little liberty. We move him now so that his recruits start
        # advancing next turn.
        [teleport]
            [filter]
                id=Lich-Lord Lenvan
            [/filter]
            x,y=2,5
        [/teleport]
    [/event]
    [event]
        name=turn 11
        [message]
            id=Lich-Lord Lenvan
            message= _ "Trying to get rid of me, eh? I'll go in there and close the portal, but when I return, I will punish you properly for this."
        [/message]
        [message]
            id=Londerleona
            message= _ "That sounds terrible."
        [/message]
    [/event]
    [event]
        name=turn 12
        #Lenvan is now here. He raises things
        [event]
            first_time_only=no
            name=die
            [filter_second]
                [not]
                    type=Walking Corpse
                [/not]
                [not]
                    type=Soulless
                [/not]
            [/filter_second]
            [filter]
                [not]
                    side=3
                [/not]
                [not]
                    race=wose_alt
                [/not]
                [not]
                    race=wose
                [/not]
            [/filter]
            [kill]
                x=$x1
                y=$y1
                #animate=yes
            [/kill]
            {GENERIC_UNIT 3 Soulless $x1 $y1}
        [/event]
        [event]
            first_time_only=no
            name=die
            [filter_second]
                [not]
                    type=Walking Corpse
                [/not]
                [not]
                    type=Soulless
                [/not]
            [/filter_second]
            [filter]
                race=wose_alt
            [/filter]
            [kill]
                x=$x1
                y=$y1
                #animate=yes
            [/kill]
            [unit]
                type=Soulless
                variation=wose
                side=3
                x=$x1
                y=$y1
                [modifications]
                    {TRAIT_UNDEAD}
                    {TRAIT_FEARLESS}
                [/modifications]
            [/unit]
        [/event]
        # End raise script

        # This prevents AI from getting jammed by an immobile unit.
        # Caror has no more lines anyway.
        [kill]
            id=Caror
        [/kill]

        [event]
            name=die
            [filter]
                [not]
                    side=3
                [/not]
            [/filter]
            [message]
                id=Londerleona
                message=_ "Ewwww." #wmllint: no spellcheck
            [/message]
            [event]
                name=new turn
                [message]
                    id=Londerleona
                    message= _ "First these filthy orcs, now these nasty things. What a mess."
                [/message]
            [/event]
        [/event]
    [/event]
    [event]
        name=turn 18
        {LOYAL_UNIT 2 (Orcish Warrior) 14 1}
        {LOYAL_UNIT 2 (Orcish Warrior) 15 1}
        [message]
            id=Lich-Lord Lenvan
            message=_"Enalcalae Talacalar Argime" #wmllint: no spellcheck
        [/message]
    [/event]
    [event]
        name=turn 19
        {QUAKE "rumble.ogg"}
        {QUAKE "rumble.ogg"}
        {QUAKE "rumble.ogg"}
        {QUAKE "rumble.ogg"}
        {MUSIC "frantic.ogg"}
        [message]
            type=Orcish Warrior
            message= _ "Look out! The ceiling is collapsing."
        [/message]
        [message]
            id=Lich-Lord Lenvan
            message= _ "No it isn't. The portal is unphasing. You better scram or there won't be so much as a body left for me to raise."
        [/message]
        [message]
            id=Londerleona
            message= _ "Shudder. We best take his advise. I think the east passage is clear."
        [/message]
        [show_objectives]
        [/show_objectives]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x=25
        [/filter]
        [endlevel]
            result=victory
        [/endlevel]
    [/event]

    [event]
        name=moveto
        [filter]
            side=1
            x=1-8
            y=1-8
        [/filter]
        [event]
            name=side 3 turn
            [message]
                id=Lich-Lord Lenvan
                message= _ "You dare attack me!"
            [/message]
            [gold]
                side=3
                amount=100
            [/gold]
        [/event]
    [/event]

    #This can actually happen. If it does, all of Wesnoth's history
    #radically changes
    [event]
        name=last breath
        [filter]
            id=Lich-Lord Lenvan
        [/filter]
        [message]
            id=Lich-Lord Lenvan
            # wmllint: local spellings Aiee
            message= _ "Aiee, so soon to die again!"
        [/message]
    [/event]
    [event]
        name=die
        [filter]
            id=Lich-Lord Lenvan
        [/filter]
        [endlevel]
            result=victory
            next_scenario=5a_Arena
        [/endlevel]
    [/event]
[/scenario]
