#textdomain wesnoth-Story_of_Wose

[scenario]
    id="5a_Arena"
    name=_"Arena"
    next_scenario=null
    map_file=Arena.map
    {MUSIC "underground.ogg"}

#define SPAWN_ORACLE X Y
    [unit]
        side=4
        id=Oracle
        name=_ "Oracle"
        x={X}
        y={Y}
        canrecruit=yes
        type=Necromancer
    [/unit]
    [message]
        id=Oracle
        message=_ "Hahaha. Now that those two bags of bones are out of the way, I'll take that Ruby myself and rule this city!"
    [/message]
#enddef

    {SOW_DEATHS}
    turns=-1

    {DEFAULT_SCHEDULE}

    #Not using special marker for this.
    [side]
        side=1
        team_name=1
        type=Wood Mage
        id="Londerleona"
        name= _"Londerleona"
        profile="portraits/londerleona.png"
        canrecruit=yes
        gold=0
        income=2
        controller=human
        shroud=yes
    [/side]

    [side]
        #Keep at 9,17
        side=2
        type=Ancient Lich
        id=Lich-Lord Jevyan
        name=_ "Lich-Lord Jevyan"
        canrecruit=yes
        gold=350
        income=2
        recruit=Walking Corpse,Skeleton,Skeleton Archer,Revenant,Bone Shooter
        [ai]
            aggression=0.9
            recruitment_ignore_bad_combat=yes
            [target]
                side=1
                value=5
            [/target]
            [target]
                side=3
                value=1
            [/target]
        [/ai]
    [/side]

    [side]
        #Keep at 14,8
        side=3
        type=Demilich
        id=Lich-Lord Caror
        name=_ "Lich-Lord Caror"
        canrecruit=yes
        gold=180
        income=2
        recruit=Walking Corpse,Skeleton,Skeleton Archer,Revenant,Bone Shooter
        [ai]
            aggression=0.9
            recruitment_ignore_bad_combat=yes
            [target]
                side=1
                value=5
            [/target]
            [target]
                side=2
                value=1
            [/target]
        [/ai]
    [/side]

    [side]
        side=4
        no_leader=yes
        gold=1000
        recruit=Walking Corpse
        [ai]
            aggression=0.9
            recruitment_ignore_bad_combat=yes
            recruitment_pattern=fighter,fighter,fighter,fighter,fighter,fighter
        [/ai]
    [/side]

    [event]
        name=prestart
        [objectives]
            [objective]
                condition=win
                description = _"Defeat all enemy leaders"
            [/objective]
            [objective]
                condition=lose
                description = _"Death of Londerleona"
            [/objective]
        [/objectives]
    [/event]

    [event]
        name=start
        [message]
            id=Londerleona
            message=_ "I have a feeling I wasn't supposed to come this way."
        [/message]
        [message]
            id=Londerleona
            message=_ "What's this? Looks like that terror left me a worthy gift."
        [/message]
        [object]
            id=ruby_of_fire
            name= _ "The Ruby of Fire"
            description= _ "The Ruby of Fire was imbued with magic in the distant west, and can be used to scorch enemies into submission."
            [filter]
                id=Londerleona
            [/filter]
            [effect]
                apply_to=new_attack
                name=ruby of fire
                description=_ "Ruby of Fire"
                icon=attacks/fireball.png
                type=fire
                range=ranged
                damage=14
                number=4
                [specials]
                    {WEAPON_SPECIAL_MAGICAL}
                [/specials]
            [/effect]
            [effect]
                apply_to=new_animation
                [attack_anim]
                    [filter_attack]
                        name=ruby of fire
                    [/filter_attack]
                    {MISSILE_FRAME_FIREBALL_XY 0 0}
                    start_time=-200
                    [frame]
                        sound=fire.wav
                    [/frame]
                [/attack_anim]
            [/effect]
            [effect]
                apply_to=hitpoints
                increase_total=20
                heal_full=yes
            [/effect]
        [/object]

        [move_unit]
            id=Londerleona
            to_x=18
            to_y=15
        [/move_unit]
        [redraw][/redraw]
        [remove_shroud]
            side=1
            x=0-26
            y=0-26
        [/remove_shroud]
        [redraw]
        [/redraw]
        [message]
            id=Londerleona
            message=_ "Yipe!"
        [/message]
        [message]
            id=Lich-Lord Caror
            message=_ "She has killed Lenvan and taken the Ruby of Fire!"
        [/message]
        [message]
            id=Lich-Lord Jevyan
            message=_ "I'll take that Ruby myself, thank you."
        [/message]
        [message]
            id=Lich-Lord Caror
            message=_ "No, it's Mine!"
        [/message]
        [message]
            id=Lich-Lord Jevyan
            message=_ "Fine, I'll kill you too."
        [/message]

        #Recall (25 times is enough)
        {REPEAT 25 (
            [recall]
                side=1
            [/recall]
        )}

        [terrain]
            x,y=21,13
            terrain=Xu
        [/terrain]
        [terrain]
            x,y=21,14
            terrain=Xu
        [/terrain]
    [/event]

    #Jevyan does instant raise
    [event]
        first_time_only=no
        name=die
        [filter_second]
            side=2
            [not]
                type=Walking Corpse
            [/not]
            [not]
                type=Soulless
            [/not]
        [/filter_second]
        [filter]
            race=human
        [/filter]
        [if]
            [have_unit]
                side=2
                id=Lich-Lord Jevyan
            [/have_unit]
            [then]
                [kill]
                    x=$x1
                    y=$y1
                [/kill]
                {GENERIC_UNIT 2 Soulless $x1 $y1}
            [/then]
        [/if]
    [/event]

    [event]
        first_time_only=no
        name=die
        [filter_second]
            side=2
            [not]
                type=Walking Corpse
            [/not]
            [not]
                type=Soulless
            [/not]
        [/filter_second]
        [filter]
            [not]
                [not]
                    race=wose_alt
                [/not]
                [not]
                    race=wose
                [/not]
            [/not]
        [/filter]
        [if]
            [have_unit]
                side=2
                id=Lich-Lord Jevyan
            [/have_unit]
            [then]
                [kill]
                    x=$x1
                    y=$y1
                [/kill]
                [unit]
                    type=Soulless
                    variation=wose
                    side=2
                    x,y=$x1,$y1
                [/unit]
            [/then]
        [/if]
    [/event]

    #Death of Jevyan
    [event]
        name=die
        [filter]
            id=Lich-Lord Jevyan
        [/filter]
        [if]
            [have_unit]
                side=3
                id=Lich-Lord Caror
            [/have_unit]
            [then]
                [message]
                    id=Lich-Lord Caror
                    message=_"Now that Jevyan is dead, I'll take that Ruby and rule this city!"
                [/message]
                {MODIFY_UNIT side=2 side 3}
            [/then]
            [else]
                [kill]
                    id=Lich-Lord Jevyan
                [/kill]
                {SPAWN_ORACLE 14 8}
            [/else]
        [/if]
    [/event]

    #Death of Caror
    [event]
        name=die
        [filter]
            id=Lich-Lord Caror
        [/filter]
        [if]
            [have_unit]
                side=2
                id=Lich-Lord Jevyan
            [/have_unit]
            [then]
                [message]
                    id=Lich-Lord Jevyan
                    message=_ "Now that that usurper is dead, I'll deal with you!"
                [/message]
                {MODIFY_UNIT side=3 side 2}
            [/then]
            [else]
                [kill]
                    id=Lich-Lord Caror
                    animate=yes
                [/kill]
                {SPAWN_ORACLE 9 17}
            [/else]
        [/if]
    [/event]

    #Message on death (player wasn't supposed to get here...)
    [event]
        name=defeat
        #Ensure that Oracle exists so he can speak
        [if]
            [not]
                [have_unit]
                    side=4
                    id=Oracle
                [/have_unit]
            [/not]
            [then]
                [unit]
                    side=4
                    type=Necromancer
                    x=17
                    y=17
                    id=Oracle
                    name=_"Oracle"
                [/unit]
            [/then]
        [/if]
        [message]
            id=Oracle
            message=_ "She was right, she shouldn't have come this way."
        [/message]
    [/event]

    #Victory
    [event]
        name=victory
        [message]
            speaker=narrator
            message=_ "Well, that's certainly not how the story is supposed to go. What's this? You have written into the book of history and it has come to pass just as you wrote it!"
            image="portraits/narrator.png"
        [/message]
        [message]
            speaker=narrator
            message=_ "Well now you've really done it! All that I have taught you, all that we know, has changed."
            image="portraits/narrator.png"
        [/message]
    [/event]
[/scenario]

#<grzywacz> "Hi undead!"   "Hi party!"   "How are you?"   "Dead! Har har har!"
#"Anything interesting going on?"    "No."    "k thx bye"    "cya"
