#textdomain wesnoth-Story_of_Wose

[textdomain]
    name="wesnoth-Story_of_Wose"
    path="data/add-ons/Story_of_Wose/translations"
[/textdomain]

[campaign]
    id=Story_of_the_Wose
    name = _ "The Story of the Wose"
    difficulties=NORMAL,HARD
    description = _ "Somewhere on the Green Isle"
    difficulty_descriptions= _ "*&units/woses/wose.png~TC(1,magenta)=Normal;&units/woses/wose-elder.png~TC(1,magenta)=Hard"
    icon=units/woses/wose.png~TC(3,magenta)
    first_scenario=1_The_Oldwood
    define=STORY_OF_WOSE
[/campaign]

#ifdef STORY_OF_WOSE
[binary_path]
    path=data/add-ons/Story_of_Wose
[/binary_path]
{~add-ons/Story_of_Wose/terrain.cfg}
{~add-ons/Story_of_Wose/utils.cfg}
[units]
    {~add-ons/Story_of_Wose/wtraits.cfg}
    {~add-ons/Story_of_Wose/units}
[/units]
{~add-ons/Story_of_Wose/scenarios}
#endif

#Comment this before upload
#ifdef EDITOR_DISABLED_NOT_DEV
[binary_path]
    path=data/add-ons/Story_of_Wose
[/binary_path]
[editor_group]
    id=SoW
    name= _ "Story of Wose"
    icon="group_custom"
[/editor_group]
{~add-ons/Story_of_Wose/terrain.cfg}
#endif

# wmllint: directory spellings Clearwater Jevyan Lenvan Caror Elilmaldur-Rithrandal lightbeam ambience
