author="Joshua"
description="The trees are not always what they seem."
email="jakub.konecny2@centrum.cz"
icon="units/woses/wose.png"
title="Story of the Wose"
type="campaign"
version="XXX"
passphrase="XXX"
tags=wose,woses,green isle,mage,mages,oldwood,ruby of fire,lich lords
[feedback]
    topic_id=46073
[/feedback]
[translation]
    language="cs"
	title="Příběh stromouse"
    description="Stromy nejsou vždy takové, jaké se zdají."
[/translation]
